@tailwind base;
@tailwind components;
@tailwind utilities;

#root {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.logo {
  height: 10em;
  will-change: filter;
  transition: filter 300ms;
  border: 1px ridge white;
  border-radius: 100%;

}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header {
  background-image: url('../public/header.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;

}

.header-text {
  width: 100vw;
  height: 70vh;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.header-text h1 {
  font-size: 50px;
 
}

.header-text h4 {

  font-size: 30px;
  margin: 30px;

}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}